  <main class="about">
    <h1>???</h1>

    <p>
      <%# i enjoy long naps on the beach, travelling, and visiting museums. %>
    </p>

    <p>
      i'm interested in interactive design so i'll have more fun projects posted soon.
    </p>

    <p>
       i typically use a blend of scss, rails (on ruby), and javascript to make the magic happen.
       <%# superhi taught me. %>
    </p>


    <%# <a href="https://www.superhi.com/?r=brianalauren">SuperHi</a> %>

    <nav class="about">

      <%= link_to image_tag('instagram.png'), 'https://www.instagram.com/brianagude/', target: :_blank%>
      <%= link_to image_tag('mummy.png'), root_path%>
      <%= link_to image_tag('folder2.png'), projects_path%>

    </nav>

  </main>
