<main>
  <h2> hi, i'm briana </h2>

  <p>
    a freelance developer based in atlanta, ga.
  </p>

  <p>
      i build interactive apps and social experiments with an emphasis on design, and user experience
  </p>

  <p>
    my most recent project is an anonymous social media platform, called note that.

  </p>

  <%= link_to 'note that', "http://www.notethat.co", target: :_blank%>

  <nav>
    <%= mail_to "briana.gude@gmail.com", image_tag('mail2.png') %>
    <%# <%= link_to image_tag('nametag.png'), about_path%>
    <%# <%= link_to image_tag('folder2.png'), projects_path%>
  </nav>
</main>
